
*{
    overflow-x: hidden;
}
.head{
 display: flex;
 justify-content: space-evenly;
 background-color: black;
}
.list{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: space-evenly;
    margin-left: 350px;
    
}
li{
    color: white;
}